body{
    
    background-image: repeating-linear-gradient(45deg,#1a2980,#26d0ce);

}
nav{
    border-bottom: black 3px solid;
}
nav a{
    padding: 10px;
    border-radius: 5px;
}
nav a:hover {
    background-color: rgb(212, 212, 212);
    border: 1px black solid;
    transition-duration: 0.2s;
    text-decoration: underline solid black;
}

main>div{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    width: 75%;
}
h1{
margin-left: 20px;
font-weight: bold;
}
h2{
    text-align: center;
}

p{
    padding: 30px;
    text-align: justify;
}
.float-right{
    float: right;
    padding: 10px 0px 0px 20px;
}
img{
    filter: saturate(80%);
}
img:hover{
    filter: saturate(150%);
    transition-duration: 0.5s;
    cursor: zoom-in;
}
.review-box{
    background-color: rgb(255, 255, 255);
    margin: 20px;
    vertical-align: middle;
    padding: 10px;
    border: solid 1px black;
}
.rating{
    float: right;
}
.review{
    font-size: large;
}
button{
    padding: 20px;
}
#scratch-download{
    background-color: #f9aa37;
    color: white;
    font-family: cursive;
}
#scratch-download:hover{
    background-color: #c0862e;
    transition-duration: 0.2s;
}
.open:hover {
    background: rgb(179, 179, 179);
    text-decoration: underline solid 0.5px;
}
.store {
    display: block;
    width: 100%;
    color: black;
    text-decoration: none;
}
.open {
    vertical-align: middle;
}
.video {
    float: right;
    padding: 7.5px 0px 0px 20px;
    width: 500px;
    height: 275px;
}
.title {
    text-decoration: black underline solid;
    font-weight: bolder;
}
#muck-steam{
    background-color: #2a475e;
    color:white;
}
#muck-steam:hover{
    background-color: #243f55;
    transition-duration: 0.2s;
}
#muck-youtube{
background-color: red;
color:white;
}
#muck-youtube:hover{
    background-color: rgb(165, 2, 2);
    transition-duration: 0.2s;
}
.pgtop{
    background-color: rgba(172, 255, 47, 0.6);
    border: 1px black solid;
    margin-top: 20px;
}
.pgtop:hover{
    background-color: rgba(172, 255, 47, 0.5);
    border: 1px black solid;
    color: black;
    text-decoration: underline;
}
    
footer{
    background-color: rgba(255, 255, 255, 0.9);
    font-size: large;
}
img{
    width: 50%;
}
.skill-issue{
    display: none;
}

@media screen and (max-width: 585px) {
    main>div{
        background-color: rgba(255, 255, 255, 0.6);
        width: 100%;
    }
    table{
        background-color: white;
    }
    p{
        padding: 10px;
    }
    .container{
        width: 100%;
    }
    table{
        font-size: small;
    }
    
    .rating{
        font-size: small;
    }
    h1{
        margin:auto;
    }

}

@media screen and (max-width: 800px) {
    iframe{
        display: none;
    }
    .skill-issue{
        display: block;
    }
    img{
        width: 100%;
    }
    .float-right{
        padding:0px;
        float: none;
    }
}