nav a{
    padding: 5px;
    border-radius: 5px;
}
nav a:hover {
    color: black !important;
    background-color: whitesmoke;
    transition-duration: 0.5s;
}

main>div{
    background-color: rgb(226, 226, 226);
    padding: 30px;
}
h1{
margin-left: 20px;
font-weight: bold;
}
h2{
    text-align: center;
}

p{
    padding: 30px;
    text-align: justify;
}
.float-right{
    float: right;
    padding: 10px 0px 0px 20px;
}
img{
    filter: saturate(80%);
}
img:hover{
    filter: saturate(150%);
    transition-duration: 0.5s;
    cursor: zoom-in;
}
.review-box{
    background-color: rgb(240,240,240);
    margin: 20px;
    vertical-align: middle;
    padding: 10px;
}
.rating{
    float: right;
}
.review{
    font-size: large;
}
button{
    padding: 20px;
}
#scratch-download{
    background-color: #f9aa37;
    color: white;
    font-family: cursive;
}
#scratch-download:hover{
    background-color: #c0862e;
    transition-duration: 0.2s;
}
.open:hover {
    background: rgb(179, 179, 179);
    text-decoration: underline solid 0.5px;
}
.store {
    display: block;
    width: 100%;
    color: black;
    text-decoration: none;
}
.open {
    vertical-align: middle;
}
.video {
    float: right;
    padding: 7.5px 0px 0px 20px;
    width: 500px;
    height: 275px;
}